In [86]:
import pandas as pd

Test Dataframe

In [88]:
a = {
    'cust_id' : ['A123', 'A456', 'A789'],
     'ticket_id': [12,23,45],
     'first_cust_port' : ['Delhi', 'Delhi', 'Delhi'],
     'last_cust_port' : ['Mumbai', 'Mumbai', 'Mumbai'],
     'cust_start' : [815, 830, 845],
     'cust_end': [1730, 1015, 1330]
}
cust_data = pd.DataFrame.from_dict(a)
cust_data

  cust_id  ticket_id first_cust_port last_cust_port  cust_start  cust_end
0    A123         12           Delhi         Mumbai         815      1730
1    A456         23           Delhi         Mumbai         830      1015
2    A789         45           Delhi         Mumbai         845      1330

In [89]:
b = {
    'flight_no': ['B99','B89','B79','B69','B59','B49','B39'],
     'date' : [23,45,56,67,78,89,90],
     'orig_port' : ['Delhi', 'Delhi', 'Jaipur', 'Delhi', 'Agra', 'Surat', 'Pune'],
     'dest_port': ['Mumbai', 'Jaipur', 'Mumbai', 'Agra', 'Surat', 'Pune', 'Mumbai'],
     'flight_start': [830, 840, 1130, 815, 1230, 1445, 1615],
     'flight_end': [1015,1045,1330,1130, 1430,1530, 1730]
}
flight_data = pd.DataFrame.from_dict(b)
flight_data

  flight_no  date orig_port dest_port  flight_start  flight_end
0       B99    23     Delhi    Mumbai           830        1015
1       B89    45     Delhi    Jaipur           840        1045
2       B79    56    Jaipur    Mumbai          1130        1330
3       B69    67     Delhi      Agra           815        1130
4       B59    78      Agra     Surat          1230        1430
5       B49    89     Surat      Pune          1445        1530
6       B39    90      Pune    Mumbai          1615        1730

In [90]:
#function to extract flight details from ticket id and using this in recusrive function

def show_connecting_flight(id, tid):
  val = cust_data[cust_data['ticket_id'] == tid].values[0]
  origin = val[2]
  dest = val[3]
  st = val[4]
  et = val[5]
  first = True
  return flightno(origin, dest,st,et,first)

In [91]:
#Recursive function to get flight
def flightno(origin, dest, st, et, first, flight = None):
  #s_flight = none
  if first:
    first = False
    flight = []
    val = flight_data[(flight_data['flight_start'] == st) & (flight_data['orig_port'] == origin)].values[0]
    s_flight = val[0]
    if (val[3] == dest) & (val[5] == et):
      flight.append(s_flight)
      return flight
    else:
      flight.append(s_flight)
      origin = val[3]
      st = val[5]
      flight = flightno(origin, dest, st, et,first, flight)
      return flight

  else:
    val = flight_data[(flight_data['flight_start'] >= st) & (flight_data['orig_port'] == origin)].values
    for i in val:
      if i[5] > et:
        return
      elif (i[5] == et) & (i[3] == dest):
        flight.append(i[0])
        return flight
      else:
        flight.append(i[0])
        origin = i[3]
        st = i[5]
        flight = flightno(origin, dest, st, et,first, flight)
        return flight

In [92]:
show_connecting_flight('A456', 23)

['B99']

In [93]:
show_connecting_flight('A123', 12)

['B69', 'B59', 'B49', 'B39']